.parent{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30px;
}

.top-pane{
    -fx-background-color: #ffffff;
}

.button-plus{

    -fx-background-color: #2CD889;
}

.log{
}




.button
{
-fx-background-color : #05071F;
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : #10165F;
}
.button:pressed
{
-fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: green;
    -fx-border-color: black;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}



/*pagination*/
/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 10;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color:  #2CD889;
    -fx-text-fill: white;
}
.pagination{
    -fx-page-information-visible: false;
}

/*Pie*/
.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

.chart-pie-label { /*this is what you need for labels*/
    -fx-fill: #8b4513;
    -fx-font-size: 1em;
}
.chart-legend {
   -fx-background-color:  #fafad2;
   -fx-stroke: #daa520;
}


/*.buton-border:focused,.buton-border:pressed {*/
/*    -fx-border-width: 0 0 2 0;*/
/*    -fx-border-color: #2CD889;*/

/*}*/

.buton-border:focused{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #2CD889;
}

.buton-border:pressed{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #2CD889;
}

/*serachBar*/
.searchbar-txt{
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%) !important;
}
/*.searchbar-txt: focused {
    -fx-prompt-text-fill: transparent;
}*/

.vbox-carde{

    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #F5FCF9;
    -fx-padding: 5px 5px 5px 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

}
.pane-card-table{
    -fx-border-radius: 5 5 5 5;
    -fx-border-width: 5 5 5 5;
    -fx-border-color: white;
}

/* Table biew*/
.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border; /* Horizontal Lines*/
    -fx-background-color: transparent;
}

/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
    -fx-size: 65;
    -fx-border-style: null;
    -fx-border-color: -swatch-grey;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
}

.table-view .column-header .label, .table-view .filler .label,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label
{
    -fx-alignment: center;
    -fx-text-fill:  #646D82;
}

.table-view .column-header-background, .tree-table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 40px;
}

.table-cell {
    -fx-border-color: transparent; /* Vertical Lines*/
    -fx-border-width: 1;
}

/* progress */
.progress-bar .bar {
    -fx-progress-color: red;
}

